// MEMO: https://coolors.co/0a0908-22333b-f2f4f3-a9927d-5e503f

$COLOR_PRIMARY:     #D8DBE2;
$COLOR_SECONDARY:   #373F51;
$COLOR_ACCENT_PINK: #CD8579;
// $COLOR_ACCENT_PINK: #DAA49A;
$COLOR_ACCENT_BLUE: #58A4B0;
$COLOR_ACCENT_GRAY: #A9BCD0;