// MEMO: https://coolors.co/0a0908-22333b-f2f4f3-a9927d-5e503f

$COLOR_WHITE:       #F2F4F3;
$COLOR_NAVY:        #22333B;
$COLOR_BLACK:       #0A0908;
$COLOR_LIGHT_BROWN: #A9927D;
$COLOR_DARK_BROWN:  #5E503F;