// MEMO: https://coolors.co/f1f2eb-d8dad3-a4c2a5-566246-4a4a48

$COLOR_WHITE:       #F1F2EB;
$COLOR_GRAY:        #D8DAD3;
$COLOR_BLACK:       #4A4A48;
$COLOR_LIGHT_GREEN: #A4C2A5;
$COLOR_DARK_GREEN:  #566246;