@import './include/reset';
@import './include/foundation';
@import './include/variables';

body {
  // width: 100%;
  // overflow: hidden;
  color: $COLOR_SECONDARY;
  background-color: $COLOR_PRIMARY;
  letter-spacing: 0.025em;
}

.container {
  padding: 60px 0 0 0;
  width: 100%;
}