@import './include/reset';
@import './include/foundation';
@import './include/variables';

body {
  // width: 100%;
  // overflow: hidden;
  color: $COLOR_BLACK;
  background-color: $COLOR_WHITE;
  letter-spacing: 0.025em;
}