@import './include/variables';

.text {
  margin: 0 0 24px;
  width: 480px;
  display: block;
  color: $COLOR_ACCENT_PINK;
  font-size: 16px;
  text-align: center;
}

input[type="text"].input {
  margin: 0 0 24px;
  padding: 12px;
  width: 480px;
  display: block;
  border: 2px solid $COLOR_ACCENT_GRAY;
  border-radius: 4px;
  color: $COLOR_ACCENT_BLUE;
  font-size: 16px;
  &:focus {
    border: 2px solid $COLOR_ACCENT_BLUE;
  }
  &::placeholder {
    color: $COLOR_ACCENT_GRAY;
  }
}

.button {
  margin: 0 auto;
  padding: 12px 40px;
  display: block;
  border-radius: 4px;
  color: $COLOR_PRIMARY;
  font-size: 16px;
  &_blue {
    background-color: $COLOR_ACCENT_BLUE;
  }
  &_pink {
    background-color: $COLOR_ACCENT_PINK;
  }
  &_disable {
    opacity: 0.5;
    pointer-events: none;
  }
}

// .modal {
//   width: 100%;
//   height: 100vh;
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   opacity: 0;
//   pointer-events: none;
//   // transition: 0.4s;
//   &_active {
//     opacity: 1;
//     pointer-events: all;
//   }
//   &_container {
//     padding: 40px;
//     background-color: $COLOR_PRIMARY;
//     border-radius: 8px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 2;
//   }
  
//   &_back {
//     width: 100%;
//     height: 100%;
//     background-color: rgba($COLOR_SECONDARY, 0.5);
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 1;
//     cursor: pointer;
//   }
// }

.projects {
  margin: 8px auto 0;
  padding: 0 0 32px;
  width: 1024px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.project {
  width: 320px;
  min-height: 128px;
  color: $COLOR_PRIMARY;
  background-color: $COLOR_SECONDARY;
  border-radius: 4px;
  position: relative;
  &:nth-child(5n+1) {
    margin: 32px 16px 0 0;
  }
  &:nth-child(5n+2) {
    margin: 32px 16px 0 16px;
  }
  &:nth-child(5n+3) {
    margin: 32px 0 0 16px;
  }
  &:nth-child(5n+4) {
    margin: 32px 16px 0 176px;
  }
  &:nth-child(5n+5) {
    margin: 32px 176px 0 16px;
  }
  &_last {
    cursor: pointer;
    border: 2px solid $COLOR_SECONDARY;
    background-color: $COLOR_PRIMARY;
    svg {
      color: $COLOR_SECONDARY;
      font-size: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  a {
    display: block;
  }
  &_head {
    padding: 24px 24px 0 24px;
    cursor: pointer;
    &_name {
      font-size: 16px;
    }
    &_content {
      margin: 16px 0 0 0;
      font-size: 12px;
    }
  }
  &_body {
    padding: 0 24px 24px 24px;
    margin: 16px 0 0 0;
    &_button {
      margin: 0 8px 0 0;
      color: rgba($COLOR_PRIMARY, 0.5);
      font-size: 16px;
    }
  }
}

.navigate {
  margin: 48px 0 0 0;
  color: $COLOR_SECONDARY;
  font-size: 16px;
  text-align: center;
  & + & {
    margin: 24px 0 0 0;
  }
  &__bold {
    font-weight: 700;
  }
}