@import '../include/variables';

.navigation {
  padding: 24px;
  color: $COLOR_BLACK;
  background-color: $COLOR_GRAY;
  display: flex;
  justify-content: space-between;
  &_head {

  }
  &_body {
    
  }
}

.icons {
  display: flex;
}

.icon {
  & + & {
    margin: 0 0 0 24px;
  }
}