@import '../include/variables';

.navigation {
  padding: 16px 32px;
  color: $COLOR_WHITE;
  background-color: $COLOR_LIGHT_BROWN;
  display: flex;
  justify-content: space-between;
  &_head {
    font-size: 24px;
  }
  &_body {
    
  }
}

.icons {
  display: flex;
}

.icon {
  font-size: 24px;
  & + & {
    margin: 0 0 0 16px;
  }
}